*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

:root{
    --bg-color: #f3f3f3;
    --second-bg-color: #5f89c4;
    --text-color: #1e161f;
    --second-color: #29313a;
    --main-color: #5e83e9;
    --big-font: 5rem;
    --h2-font: 3rem;
    --p-font: 1.1rem;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

body::-webkit-scrollbar {
    display: none;
}
::-webkit-scrollbar {
    width: 6px;
}
  
::-webkit-scrollbar-thumb {
    background: #5e83e9;
    border-radius: 3px;
}

::-webkit-scrollbar-track {
    background: #c5ccdf;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:#d3d9ec ;     /* #f3f3f3 */
    padding: 22px 15%;
    border-bottom: 1px solid transparent;
    transition: all .45s ease;
}

.logo{
    color: var(--text-color);
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 1px;
}

span{
    color: var(--main-color);
}

.navlist{
    display: flex;
}

.navlist a{
    color: var(--second-color);
    font-size: 17px;
    font-weight: 500;
    margin: 0 25px;
    transition: all .45s ease;
}

.navlist a:hover{
    color: var(--main-color)
}

/* from where you control the color of the active part of the page */

.navlist a.active{
    color: var(--main-color)
}

#menu-icon{
    font-size: 35px;
    color: var(--text-color);
    z-index: 10001;
    cursor: pointer;
    margin-left: 25px;
    display: none;
}

.bx:hover{
    cursor: pointer;
}


section{
    padding: 160px 15% 120px;   
}

.home{
    position: relative;
    height: 100vh;
    width: 100%;
    /*background-image: url(../media/tanzeela1.png);*/
    background-size: 50% auto;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.slide{
    margin-bottom: 20px;
}

.one{
    display: inline-block;
    margin-right: 15px;
    height: 32px;
    padding: 0 15px;
    line-height: 32px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 5px;
    background: var(--main-color);
    color: var(--text-color);
    margin-left: 50px;
    margin-top: 50px;
}

.two{
    display: inline-block;
    color: var(--second-color);
    font-size: 15px;
    font-weight: 500;
    margin-left: 50px;
}

.home-text h1{
    font-size: var(--big-font);
    font-weight: 700;
    color: var(--text-color);
    list-style: 1.1;
    margin: 0 0 8px;
    margin-left: 50px;
}

.home-text h3{
    margin-top: 20px;
    color: var(--text-color);
    margin: 0 0 35px;
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.1;
    margin-left: 50px;
}
.home-text p{
    color: var(--second-color);
    font-size: var(--p-font);
    line-height: 1.8;
    margin-bottom: 20px;
    margin-right: 50px;
    margin-left: 50px;
    text-align: justify;
    text-justify: inter-word;
    /*background-color: #c5ccdf;*/
    padding: 10px 10px 10px 10px;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.btn, .btn3, .btn4{
    display: inline-block;
    padding: 12px 28px;
    background: var(--main-color);
    border-radius: 5px;
    color: #342d3a;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 600;
    transition: all .45s ease;
}

.btn:hover, .btn3:hover, .btn4:hover{
    transform: scale(0.9);
}

.btn2{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 600;
    color: var(--text-color);
    margin-left: 35px;
}

.btn2 span i{
    height: 55px;
    width: 55px;
    background: var(--main-color);
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    border-radius: 50%;
    margin-right: 15px;
    transition: all .45s ease;
}

.btn2 span i:hover{
    transform: scale(1.1) translateY(5px);
}

header.sticky{
    background: var(--bg-color);
    border-bottom: 1px solid #ffffff1a;
    padding: 12px 15%;
}

.about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
    background-color: #c5ccdf;
}

.about-img{
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 40px;
}
.about-img img{
    max-width: 430px;
    height: auto;
    width: 100%;
    border-radius: 50%;  /* 8px */
    border: 2px solid #5e83e9;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Shadow effect */
}

.about-text{
    margin: 0;
    padding: 40px;
    padding-top: 0;
}

.about-text h2{
    font-size: var(--h2-font);
    line-height: 1;
}

.about-text h4{
    font-size: 24px;
    font-weight: 600;
    color: var(--text-color);
    line-height: 1.7;
    margin: 15px 0 30px;
}

.about-text p{
    color: var(--second-color);
    font-size: var(--p-font);
    line-height: 1.8;
    margin-bottom: 4rem;
}

.about-buttons{
    display: flex;
}

.about-buttons a{
    margin-left: 10px;
    margin-right: 10px;
}

/* more about me */

.about-me{
    line-height: 1.7;
    margin-bottom: 20px;
    margin-right: 60px;
    margin-left: 60px;
    text-align: justify;
    text-justify: inter-word;
    padding: 10px 10px 10px 10px;
}
p{
    margin-bottom: 10px;
}
span a{
    color: #5e83e9;
}
.body-intro, .body-datascience{
    display: flex;
    align-items: center;
    justify-content: center;
}

/*  services section  */ 

/*.services{
    background: var(--second-bg-color);
}*/

.main-text{
    text-align: center;
}

.main-text p{
    color: var(--second-color);
    font-size: 15px;
    margin-bottom: 15px;
}

.main-text h2{
    font-size: var(--h2-font);
    line-height: 1;
}

.services-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    align-items: center;
    gap: 2.5rem;
    margin-top: 5rem;
}

.services-item{
    background: var(--bg-color);
    background-color: #c5ccdf;
    padding: 35px 45px;
    border-radius: 8px;
    transition: all .45s ease;
}

.s-icons i{
    font-size: 32px;
    margin-bottom: 20px;
}

.services-itembox h3{
    font-size: 24px;
    font-weight: 600;
    color: var(--text-color);
    margin-bottom: 15px;
}

.services-item p{
    color: var(--second-color);
    font-size: 1rem;
    line-height: 1.8;
    margin-bottom: 25px;
}

.read{
    display: inline-block;
    padding: 8px 18px;
    background: #5e83e9;
    color: #342d3a;
    font-size: 14px;
    font-weight: 500;
    border-radius: 8px;
    border-width: 0;
    transition: all .45s ease;
}

.read:hover{
    letter-spacing: 1px;
    background: #ffffff99;
    color: var(--text-color);
    cursor: pointer;
}

.services-item:hover{
    transform: translateY(-8px);
}

#data-analysis,#machine-learning, #deep-learning{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10000;
}
.overlay-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
}

/*  portfolio section  */

.portfolio{
    background-color: var(--bg-color); /* #c5ccdf;*/
}

.portfolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    align-items: center;
    gap: 2.5rem;
    margin-top: 5rem;
    padding: 10px 10px 10px 10px;
}

.row-container{
    height: 100%;
    width: 100%;
    justify-content: center;
}

.row{
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    height: 80%;
    background-color: #1e161f;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row img{
    width: 100%;
    border-radius: 8px;
    display: block;
    transition: transform 0.5s;
    justify-content: center;
    /*object-fit: cover; */
}

.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.1), #5e83e9);  /* #5e83e9 */ 
    position: absolute;
    border-radius: 8px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 40px;
    transition: height 0.5s;
}

.title strong{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
    color: #1c202b;
    display: flex;
    justify-content: center;
    align-items: center;
}

.layer p{
    color: #c5ccdf;
    font-size: 1rem;
    line-height: 1.8;
}

.layer i{
    color: #c5ccdf;
    margin-top: 20px;
    font-size: 20px;
    background: var(--text-color);
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.row:hover img{
    transform: scale(1.1);
}

.row:hover .layer{
    height: 100%;
}


.project-img {
    transition: opacity 0.45s ease-in-out;
    opacity: 1;
  }
  
  .project-img.hide {
    opacity: 0;
  }


/* Contact Form */

.contact{
    /*background: var(--second-bg-color);*/
    background-color: #c5ccdf;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.contact-text h4{
    color: var(--text-color);
    margin: 18px 0;
    font-size: 20px;
    font-weight: 600;
}

.contact-text h2{
    font-size: var(--h2-font);
    line-height: 1;
}

.contact-text p{
    color: var(--second-color);
    font-size: var(--p-font);
    line-height: 1.8;
    margin-bottom: 30px;
}

.list{
    margin-bottom: 2.8rem;
}

.list li{
    margin-bottom: 12px;
}

.list li a{
    display: block;
    color: var(--second-color);
    font-size: 14px;
    transition: all .45s ease;
}

.list li a:hover{
    color: var(--text-color);
    transform: translateX(5px);
}

.contact-icons i{
    height: 45px;
    width: 45px;
    background: var(--main-color);
    color: #342d3a;
    font-size: 22px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin-right: 15px;
    transition: all .45s ease;
}

.contact-icons i:hover{
    background: #342d3a;
    color: var(--main-color)
}

.sudoku{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*  snake game */

.snake-game{  /*5e83e9*/
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

canvas {
    background: #dee1ec;  /* #d3d9ec */
    border: 1px solid #5e83e9;
    border-width: 5px;
}
.end{
    padding: 20px 15%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    background: var(--bg-color);
    margin-top: 20px;
}

.last-text p{
    color: var(--second-color);
    font-size: 14px;
}

.top i{
    padding: 10px;
    border-radius: 8px;
    font-size: 15px;
    color: var(--text-color);
    background: var(--main-color);
}

@media (max-width: 1480px){
    header{
        position: fixed;
        top: 0;
        width: 100%;
        padding: 12px 2.5%;
        transition: .45s;
    }
    header.sticky{
        padding: 10px 2.5%;
        transition: .1s;
    }
    section{
        padding: 110px 3% 60px;
    }
    .end{
        padding: 15px 3%;
    }
}

@media (max-width: 1100px){
    :root{
        --big-font: 4rem;
        --h2-font: 2.5rem;
        --p-font: 1rem;
        transition: .1s;
    }
    .home-text h3{
        font-size: 2.5rem;
    }
    .home{
        height: 100vh;
        width: 100vw; 
    }
}
@media(max-width: 1545px){
    .about-text{
        margin: 30px;
        padding: 0;
        margin-top: 20px;
    }
    .about-text li, .about-text h4, .about-text h2{
        padding: 10px;
    }
    .about-text h4{
        margin: 10px;
        margin-left: 0;
    }
    .about-text p{
        margin-bottom: 2rem;
    }
    .about-img{
        margin: 50px;
        padding: 0;
        margin-top: 20px;
    }
    .main-text p{
        display: none;
    }
    .services-content, .portfolio-content, .contact-text, .end{
        margin-left: 40px;
        margin-right: 40px;
        padding: 0;
    }
    .services-item{
        padding: 25px;
    }
    .contact-text{
        text-align: justify;
    }
    .end{
        margin-bottom: 20px;
    }
}

@media (max-width: 920px){
    .home{
        padding-top: 50px;
        padding-bottom: 50px;
        height: 90vh;
    }
    .about-text{
        padding: 50px;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    .about-img{
        margin: 100px; 
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .about{
        grid-template-columns: 1fr;
    }
    .about-text{
        align-items: center;
        justify-content: center;
        text-align: justify;
        padding: 100px;
        padding-bottom: 20px;
        padding-top: 10px;
    }
    .about-img{
        order: 2;
        margin: 120px;
        margin-top: 10px;
    }
    .about-img img{
        width: 100%;
        height: auto;
        max-width: 100%;
    }
    .contact{
        grid-template-columns: 1fr;
    }
    section{
        margin-top: 30px;
        margin-bottom: 50px;
    }
    .overlay-content{
        margin: 20px;
        padding: 30px;
        height: 500px;
        width: 600px;
        justify-content: center;
        align-items: center;
        text-align: justify;
    }
    .overlay-content h3{
        padding-top: 10px;
    }
    .read-more{
        padding-top: 20px;
    }
    #menu-icon{
        display: block;
    }
    .navlist{
        position: absolute;
        top: -1000px;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        background: #c5ccdf;
        text-align: left;
        transition: all .45s ease;
        text-align: center;
    }
    .navlist a{
        display: block;
        margin: 17px;
        font-size: 20px;
        transition: all .45s ease;
        color: var(--text-color);
    }
    .navlist a:hover{
        color: var(--main-color);
    }
    .navlist a.active{
        color: #c5ccdf;
        background-color: var(--second-bg-color);
    }
    .navlist.open{
        top: 100%;
    }
    .overlay-content{
        margin: 0;
    }
}
@media(max-width: 800px){
    .home, .about, .services, .portfolio, .contact, .end{
        width: 100vw;
        margin-top: 100px;
        margin-bottom: 100px;
    }
    .services{
        margin-bottom: 50px;
    }
    .home-text p, .home-text h3{
        text-align: justify;
    }
    .home-text p{
        margin-bottom: 5px;
    }
    .button{
        margin: 20px;
        margin-top: 0;
        padding: 10px;
    }
    .btn{
        padding: 15px;
        width: 150px;
    }
    .btn2{
        margin-left: 60px;
    }
    .about, .services, .portfolio, .contact{
        padding-top: 40px;
    }
    .about-text, .portfolio-content{
        margin: 20px;
    }
    .portfolio .main-text{
        margin-top: 60px;
    }
    .portfolio-content{
        margin-top: 60px;
    }
    .contact{
        margin-bottom: 20px;
    }
    canvas{
        width: 350px;
    }
    .end{
        margin: 10px;
        padding: 10px;
        align-items: center;
        justify-content: center;
    }
    .end-text{
        width: 360px;
    }
    .top{
        order: 2;
        margin-top: 0;
    }
    .more-about-me{
        padding: 20px;
        margin-bottom: 10px;
    }
    .about-me{
        margin: 20px;
    }
    .about-me p{
        text-align: justify;
    }
    .about-me h4{
        text-align: center;
    }
    .end-text p{
        margin: 20px;
        text-align: justify;
        margin-top: 0;
        margin-bottom: 0;
    }
}

@media(max-height: 960px){
    .home{
        max-height: 100vh;
        min-height: 620px;
    }
}

@media(max-width: 700px){
    .home-text h3{
        font-size: 2rem;
    }
    section{
        padding: 110px 3% 60px;
    }
    .home{
        max-height: 100vh;
        margin-top: 0;
        min-height: 1000px;
        height: 90vh !important;
        margin-bottom: 200px;
    }
    .about{
        margin-top: 200px;
    }
    .about-text{
        padding: 50px;
    }
    .home-text{
        position: absolute;
        top: 150px;
        margin: 10px;
    }
    .home-text .button{
        margin-bottom: 50px;
    }
    .home-text h3, .slide{
        margin-right: 50px;
        padding: 10px;
        text-align: center;
        justify-content: center;
    }
    .slide{
        margin: 0;
    }
    .slide span{
        margin: 0;
        box-sizing: border-box !important;
    }
    .portfolio-content{
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media(max-width: 607px){
    .top{
        display: none;
    }
    .end-text{
        width: 100vw;
        padding-right: 20px;
    }
}

@media(max-width: 550px){
    .home-text .btn{
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .home{
        margin-bottom: 10px;
    }
    .about{
        margin-top: 100px;
    }
    .home-text{
        top: 100px;
    }
    .home-text h3, .home-text p, .home-text .button{
        margin: 30px;
    }
    .home-text p{
        margin-bottom: 20px;
    }
    .home-text .button{
        margin-top: 40px;
    }
    .about-text{
        padding: 20px;
    }
    .about-img{
        margin: 50px;
    }
    .about, .services, .portfolio, .contact{
        padding: 30px;
    }
    .row-container{
        max-height: 80%;
        max-width: 80%;
    }
    .portfolio-content{
        padding-left: 74px;
    }
}
@media(max-width: 520px){
    .home{
        margin-bottom: 150px;
    }
    .about{
        margin-top: 150px;
    }
}
